<div class="box">
	<br>
	<div style="width:90%;">
		<% if @acsG1 != nil && !@acsG1.empty? %>
			<fieldset>
				<%= high_chart("div_stackG1a", @stackG1a) %>

				<%= high_chart("div_stackG1b", @stackG1b) %>
			</fieldset>
		<% end %>

		<% if @mapaG2 != nil && !@mapaG2.empty? %>
			<br>

			<fieldset>
				<%= high_chart("div_chartG2", @chartG2) %>
			</fieldset>
		<% end %>
	</div>
	<br>
</div>